# Binaries
/Obscure/Binaries
/Obscure/Build
/Obscure/Intermediate
/ModSrc/Binaries
/ModSrc/Intermediates
/Obscure/PackagedMod/WindowsNoEditor/Engine
/Obscure/PackagedMod/WindowsNoEditor/Obscure/Binaries

# Unused
/Obscure/Content/StarterContent
/Obscure/Saved
Obscure/PackagedMod/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Obscure/PackagedMod/WindowsNoEditor/Obscure/Content/Paks/pakchunk0-WindowsNoEditor.pak
Obscure/PackagedMod/WindowsNoEditor/Obscure.exe
ModSrc/RandomizerMod/AutoWorld.py
ModSrc/RandomizerMod/BaseClasses.py
ModSrc/RandomizerMod/generic/Rules.py
ModSrc/RandomizerMod/apworld/test/bases.py
/Release/Obscure/Binaries/Win64/ue4ss/CustomGameConfigs
/Release/Obscure/Binaries/Win64/ue4ss/CXXHeaderDump
/Release/Obscure/Binaries/Win64/ue4ss/UHTHeaderDump
/Release/Obscure/Binaries/Win64/ue4ss/liveview
/Release/Obscure/Binaries/Win64/ue4ss/watches
Release/Obscure/Binaries/Win64/ue4ss/UE4SS_ObjectDump.txt
Release/Obscure/Binaries/Win64/ue4ss/UE4SS.log

# Configurations
/ModSrc/.xmake
/.xmake
/ModSrc/RandomizerMod/apworld/test/__pycache__
/.vs

# Shortcuts
*.lnk
